<ion-content padding style="background: rgb(0, 0, 0) !important;" text-wrap>

  <button text-right ion-button clear round small (click)="loginPage()"
    style="float: right;margin-right:-5px;margin-top: -10px;color: #FFF;">SKIP -></button>

  <ion-slides pager style="height: 350px;">
    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;" text-wrap>
        <ion-icon name="albums" style="width:auto; height: 100px;margin-left: auto;margin-right: auto;">
        </ion-icon>
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">Here you will find what you are looking for
        </ion-label>
      </div>
    </ion-slide>
    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;">
        <img src="assets/imgs/splash.png" style="width:auto; height: 100px;margin-left: auto;margin-right: auto;" />
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">We will take care of you
        </ion-label>
      </div>
    </ion-slide>
    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;">
        <img src="assets/imgs/splash.png" style="width:auto; height: 100px;margin-left: auto;margin-right: auto;" />
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">We will take care of you</ion-label>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-col></ion-col>
  <div text-center>
    <button ion-button round color="light" (click)="loginPage()"
      style="margin-top: 30px;color: #4AB370;width: 80%;margin-left: auto;margin-right: auto;">Let's Shopping</button>
  </div>
</ion-content>