<ion-content padding color="dark" style="background: rgb(0, 0, 0) !important;color: #FFF;" text-wrap>

  <!-- <ion-button text-right ion-button fill="clear" shape="round" expand="small" (click)="loginPage()"
    style="float: right;margin-right:-5px;margin-top: -10px;color: #FFF;">SKIP -></ion-button>

  <ion-slides pager style="height: 350px;color:#FFF;">

    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;" text-wrap>
        <ion-icon name="albums" style=" font-size: 100px;">
        </ion-icon>
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">Set Custom Response for <b>Tom</b>
        </ion-label>
      </div>
    </ion-slide>

    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;">
        <ion-icon name="albums" style=" font-size: 100px;"></ion-icon>
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">Set Custom Response At <b>Merry</b> Phone Call
        </ion-label>
      </div>
    </ion-slide>

    <ion-slide style="height: 350px;">
      <div no-lines style="background: transparent !important;">
        <ion-icon name="albums" style=" font-size: 100px;"></ion-icon>
        <ion-label style="color: #FFF;font-weight: bold;font-size: 15px;">Hey <b><u>Joury</u></b></ion-label>
      </div>
    </ion-slide>

  </ion-slides> -->

  <ion-slides pager text-center>

    <ion-slide>
      <ion-card>

        <ion-item>
          <ion-buttons item-right slot="end">
            <ion-button ion-button color="primary" (click)="loginPage()">Skip</ion-button>
          </ion-buttons>
          <h2>Set Study Time</h2>
        </ion-item>

        <img src="/assets/imgs/studytime.jpg">

        <ion-card-content>
          <p style="color: #FFF;">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
            DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>

        <ion-item>
          <ion-buttons item-right slot="end">
            <ion-button ion-button color="primary" (click)="loginPage()">Skip</ion-button>
          </ion-buttons>
          <h2>Set Friends Time</h2>
        </ion-item>

        <img src="/assets/imgs/friendstime.jpg">

        <ion-card-content>
          <p style="color: #FFF;">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time
            machine... out of a
            DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>

        <ion-item>
          <ion-buttons item-right slot="end">
            <ion-button ion-button color="primary" (click)="loginPage()">Skip</ion-button>
          </ion-buttons>
          <h2 >Set Cocking Time</h2>
        </ion-item>

        <img src="/assets/imgs/cockingtime4.png">

        <ion-card-content>
          <p style="color: #FFF;">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time
            machine... out of a
            DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>

    </ion-slide>

    <ion-slide>
      <ion-card>

        <ion-item>

          <ion-button ion-button large clear item-right slot="end" icon-end color="primary" (click)="loginPage()">
            Continue
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
          <h2 >Step On</h2>
        </ion-item>

        <img src="/assets/imgs/inoffice2.jpg">

        <ion-card-content>
          <p style="color: #FFF;">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time
            machine... out of a
            DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-slide>


  </ion-slides>






  <!-- <ion-fab right edge vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button ion-fab mini [disabled]="!isApp" (click)="onClickSMSList()" color="danger">
      {{countNewSMSs}}
    </ion-fab-button>
  </ion-fab> -->

  <!-- <ion-card>
    <ion-item>
      <ion-label>Select Number</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" placeholder="Select One"
        [(ngModel)]="selectContacts">
        <ion-select-option *ngFor="let contact of contactList" value="{{contact.number}}"
          (ionSelect)="ionSelectContact(contact.number, contact.name)">{{contact.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Set Response</ion-label>
      <ion-textarea [(ngModel)]="myresponse" placeholder="Type Response"
        style="height: 150px;border: 1px solid rgba(124, 123, 123, 0.486);"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime [(ngModel)]="starttime" displayFormat="HH:mm" placeholder="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime [(ngModel)]="endtime" displayFormat="HH:mm" placeholder="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="date" display-format="MM/DD/YYYY" placeholder="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-button icon-left expand="full" color="success" clear (click)="sendTextMessage()" [disabled]="!isApp">
        <ion-icon name="checkmark"></ion-icon>
        Set Response
      </ion-button>
    </ion-item>
  </ion-card>
 -->

  <!-- <ion-card>
    <ion-item>
      <ion-label stacked>Phone Number</ion-label>
      <ion-input [(ngModel)]="text.number" type="tel" (ionChange)='onChangePhone()'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Message</ion-label>
      <ion-textarea [(ngModel)]="text.message" (click)="onClickMessage()"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button icon-left clear item-right (click)="sendTextMessage()" [disabled]="!isApp">
        <ion-icon name="checkmark"></ion-icon>
        Send
      </ion-button>
    </ion-item>
  </ion-card> -->

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let info of infos">
      <ion-item detail lines="full" >
        <ion-icon name="desktop" slot="start" (click)="detail(info.key)"></ion-icon>
        {{info.info_title}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(info.key)">EDIT</ion-item-option>
        <ion-item-option color="danger" (click)="delete(info.key)">DELETE</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let message of messages" (click)="selectedMessage(message)">
      <ion-avatar item-start>
        <img src="assets/imgs/user-icon.png">
      </ion-avatar>
      <h2>{{message.address}}</h2>
      <p>{{message.info[0].body}}</p>
      <ion-note item-end>{{message.info[0].date  }}</ion-note>
    </ion-item>
  </ion-list> -->


</ion-content>